<ion-content [fullscreen]="true">
  <div id="container">
    <ion-img
      src="assets/images/logo.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    ></ion-img>
    <!--Email and Password-->
    <ion-item>
      <ion-input label="Email:" placeholder="Enter your email." [(ngModel)]="email" class="custom"></ion-input>
    </ion-item>
    <div *ngIf="emailError" class="error-message">Enter an email.</div>

    <ion-item>
      <ion-input type="password" label="Password" [(ngModel)]="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <div *ngIf="passwordError" class="error-message">Enter a password.</div>
    <!--BUTTON-->
    <div class="wrapper">
      <ion-button (click)="onLogin()" >LOGIN</ion-button>

      <div class="ion-activatable ripple-parent rectangle">
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div class="ion-activatable ripple-parent rounded-rectangle">
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div class="ion-activatable ripple-parent circle">
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>

    
  </div>
 
</ion-content>