#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}

ion-item {
  width: 300px;
  margin: 0 auto;
}

ion-img {
  width: 300px;
  max-width: 80vw;
  height: auto;
  margin: 70px auto 0 auto;
  display: block;
}

ion-content {
  --background: #d8f9be;
}

ion-input.custom {
  --background: none;
}

.wrapper {
  margin-top: 16px;
}

.login-link {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}
