<ion-content [fullscreen]="true">
  <div id="container">
    <ion-img
      src="assets/images/logo.png"
      alt="Vida Plena Logo"
    ></ion-img>
    <h2>Welcome!</h2>
    <p>Take the first step toward a healthier, purposeful life.</p>
    <!-- Full Name -->
    <ion-item>
      <ion-input label="Full name:" [(ngModel)]="fullName" class="custom"></ion-input>
    </ion-item>
    <!-- Email -->
    <ion-item>
      <ion-input label="Email:" [(ngModel)]="email" class="custom"></ion-input>
    </ion-item>
    <!-- Password -->
    <ion-item>
      <ion-input type="password:" label="Password:" [(ngModel)]="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <!-- Date of Birth -->
    <ion-item>
      <ion-input 
        label="Date of birth:" 
        placeholder="DD/MM/YY" 
        [(ngModel)]="dob" 
        (input)="formatDateOfBirth($event)"
        maxlength="8"
        class="custom">
      </ion-input>
    </ion-item>
    <!-- Weight -->
    <ion-item>
      <ion-input label="Weight:" [(ngModel)]="weight" class="custom"></ion-input>
    </ion-item>
    <!-- Secret Question (fixed) -->
    <ion-item>
      <ion-label position="stacked">Secret question:</ion-label>
      <ion-input value="What is your mother's name?" readonly></ion-input>
    </ion-item>
    <!-- Secret Answer -->
    <ion-item>
      <ion-input label="Secret answer:" [(ngModel)]="secretAnswer" class="custom"></ion-input>
    </ion-item>
    <!-- Sign up Button -->
    <div class="wrapper">
      <ion-button (click)="onRegister()">Sign up</ion-button>
    </div>
    <!-- Login Link -->
    <div style="text-align:center; margin-top: 16px;">
      Already have an account? <a class="login-link" (click)="goToLogin()"><b>Log in</b></a>
    </div>
  </div>
</ion-content>
