<ion-content [fullscreen]="true">
  <div class="habit-log-container">
    <div class="habit-log-date">{{ displayDate }}</div>
    <div class="habit-log-list">
      <div class="habit-log-item" *ngFor="let habit of habits">
        <ion-icon [name]="habit.icon"></ion-icon>
        <span class="habit-log-label">{{ habit.name }}</span>
        <ion-toggle [checked]="habitStatus[habit.name]" (ionChange)="onToggle(habit.name, $event.detail.checked)"></ion-toggle>
      </div>
    </div>
    <ion-button expand="block" class="habit-log-save-btn" (click)="save()">Save</ion-button>
  </div>
</ion-content>
